body {
  background: rgb(242, 242, 241);
  background: linear-gradient(0deg, rgba(242, 242, 241, 1) 85%, rgba(255, 187, 97, 1) 95%);
}

header {
  text-align: center;
  font-family: 'Monoton', cursive;
} 

header H1 {
  font-size: 6rem;
  margin: 2rem;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */ 
